[submodule "ethereum-lists/tokens"]
	path = ethereum-lists/tokens
	url = https://github.com/ethereum-lists/tokens
[submodule "ethereum-lists/chains"]
	path = ethereum-lists/chains
	url = https://github.com/ethereum-lists/chains
